body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


ul{
  list-style: none;
}

.myNote{
  font-weight: bold;
}

.through{
  text-decoration: line-through;
  color:grey;
}

.fatherAdd{
  display:flex;
  justify-content: center;
  width:80%;
  
  margin:0px auto;
 
}
.Add{
  
  width:90%;
}
.Add input[type="text"]{
  height:29px;
  border:1px solid gray;
  width:85%;
  display:inline-block;
  padding-left:20px;
  
  
}
.Add input[type="submit"]{
  padding:8px 9px;
  display:inline-block;
  width:10%;
  
  font-weight: bold;
  border:1px solid gray;
}

.listItem{
  width:71%;
  margin:10px auto;
  
}

.ourNotes{
  display:flex;
  margin-top:10px;
  justify-content: space-between;
  font-size: 18px;
}

.ourNotes > input{
  width:16px;
  height:16px;
}
.ourNotes > span{
  
  width:90%;
  text-align: left;
}

.ourNotes > button{
  height:25px;
  width:30px;
  color:red;
  background-color: #fabdbd;
  font-weight: bolder;
  font-size: 16px;
  border:1px solid #e19191
}

.updateForm{
  width:100%;
  display:flex;
  justify-content: space-between;
  
}

.updateForm > input{
  width:80%;
  height:25px;
  font-size: 16px;
  font-weight: bold;
}
.updateForm > button{
  width:15%;
  height:30px;
  font-weight: bold;
}